/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}



h1 {
    margin: 0;
    font-size: 22px;
}

.content-subtitle {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

input,
button {
    border: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

p {
    margin: 8px 0 8px 1px;
}

section {
    margin-bottom: 35px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.fa-star {
    margin-bottom: 5px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

/********* navbar ********/
.logo {
    height: 19px;
    padding: 30px 0;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    gap: 68px;
    margin: 0;
}

.navbar-items li {
    padding: 1em 0 1em 0;
    border-top: solid transparent 2px;
    box-sizing: border-box;
}

.navbar-items li:hover,
.navbar-items li:active {
    color: var(--main-color);
    border-top: solid var(--main-color) 2px;
    transition: all 0.3s ease-in-out;
}

/****** Search and filters ********/

.search-and-filter div {
    margin-top: 35px;
    display: flex;
}

.search-form {
    display: flex;
}

.fa-location-dot {
    background-color: var(--main-bg-color);
    color: black;
    height: 18px;
    width: 14px;
    border-radius: 15px 0 0 15px;
    padding: 0.990em 1.125em;
}

.search-text {
    border-top: solid var(--main-bg-color) 1px;
    border-bottom: solid var(--main-bg-color) 1px;
    border-left: solid transparent 1px;
    border-right: solid transparent 1px;
    font-weight: 700;
    color: black;
    font-size: 18px;
    padding-left: 1.130em;
    transition: all 0.2s ease
}

.search-text::placeholder {
    color: black;
}

.search-text:hover {
    border: solid black 1px;
    border-radius: 2px;
}

.search-btn {
    background-color: var(--main-color);
    border-radius: 0 15px 15px 0;
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 0 0.890em;
    cursor: pointer;
}

.search-btn-mobile {
    display: none;
}

.filter-bar {
    display: flex;
    align-items: center;
    height: 50px;
    ;
    margin: 0;

}

.filter-items {
    display: flex;
    gap: 19px;
    margin: 0;
}

.filter-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 13px 19px;
    background-color: white;
    border-radius: 25px;
    border: solid var(--main-bg-color) 2px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.filter-btn:hover {
    background-color: var(--filter-bg-color);
}

.filter-name {
    font-size: 17px;
    font-weight: 700;
}


.search-information {
    display: flex;
    align-items: flex-end;
}

.fa-info {
    border: solid 1px var(--main-bg-color);
    border-radius: 999px;
    padding: 4px 9px;
    margin: 0;
}

.search-information-text {
    margin: 2.5px 0 2.5px 9px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    box-sizing: border-box;
    gap: 40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
}

/****** Hebergements ***********/
#hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 0;
    gap: 30px 0px;
    box-sizing: border-box;
    justify-content: space-between;
}

.hebergements-cards a {
    width: 32%;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.hebergements-cards img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 114px;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    padding: 9px 0px 9px 9px;
    gap: 9px;
}

.hebergements-cards .card-content h3,
.hebergements-cards .card-content p {
    margin: 0;
}

.hebergements-cards .card-content p {
    font-size: 14px;
}

.hebergements-cards .card-rating {
    height: 13px;
}

.hebergements button {
    padding: 0;
}

/****** Populaires ***********/
#populaires {
    width: 32%;
    box-sizing: border-box;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;

    box-sizing: border-box;
}

.fa-chart-line {
    width: 16px;
    height: 16px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-sizing: border-box;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
    font-size: 14px;
}

/******* activites*******/

#activites {
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
}

.activites-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 0;
}

.activites-cards a {
    width: 23%;
    height: 439px;
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100%;
}

.activites-cards .card h3 {
    padding: 19px 20px;
    margin: 0;
}

.activites-cards .card img {
    height: 80%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/******* Footer ******/
footer nav {
    display: flex;
    background-color: var(--main-bg-color);
}

nav .nav-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;

}

.nav-group h2 {
    margin: 0;
    font-size: 18px;
}

.nav-group ul {
    padding: 0;
    margin: 0;
}

.nav-group li {
    padding-top: 15px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filter-bar {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding-bottom: 35px;
    }

    .filter-items {
        padding-left: 0;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        gap: 0px
    }

    #hebergements {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 0;
    }

    .hebergements-cards {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    #populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards a {
        width: 22%;
        height: 270px;
        box-sizing: border-box;
    }

    .activites-cards .card {
        height: 100%;
    }

    .activites-cards .card img {
        height: 200px;
    }


}

@media (min-width: 767.98px) and (max-width: 1024px) {
    .activites-cards .card .card-title {
        padding: 20px 0 0 19px;
        height: 17%;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        padding: 0px;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    header nav {
        width: 100%;
    }

    header .navbar-items {
        gap: 0;
        padding: 0;
    }

    header .navbar-items li {
        text-align: center;
        width: 100%;
        padding-top: 0;
        border-bottom: solid var(--main-bg-color) 2px;
        border-top: 0;
    }

    .navbar-items li:hover,
    .navbar-items li:active {
        border-bottom: solid var(--main-color) 2px;
        border-top: 0;
    }

    .logo {
        height: 19px;
        width: 61px;
        padding: 30px 30px;
    }

    .navbar-items {
        justify-content: center;
    }

    .search-and-filter {
        padding: 0 20px;
    }

    .search-form {
        justify-content: space-between;
        width: 100%;
    }

    .search-text {
        flex-grow: 1;
    }

    .search-btn {
        display: none;
    }

    .search-btn-mobile {
        display: block;
        padding: 16px;
        border-radius: 15px;
        background-color: var(--main-color);
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }

    .search-btn-mobile .fa-magnifying-glass {
        color: white;
    }

    .filter-bar {
        height: 100%;
        padding-bottom: 0;
    }

    .filter-items {
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        gap: 20px 0;
    }

    .filter-items li {
        width: 49%;

    }

    .filter-btn {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        gap: 7%;
        padding-left: 16px;
    }

    .filter-name {
        font-size: 14px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    #populaires {
        padding: 30px 20px;
        margin: 0;
        border-radius: 0;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards .card {
        margin-top: 20px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards img {
        height: 146px;
        width: 129px;
    }

    #hebergements {
        background-color: white;
        padding: 20px;
        margin-top: 15px;
        margin-bottom: 35px;
    }

    .hebergements-cards {
        gap: 15px;
        padding: 15px 0;
    }

    .hebergements-cards a {
        width: 100%;
    }

    .hebergements-cards img {
        width: 100%;
        height: 124px;
    }

    #hebergements .content-subtitle {
        background-color: white;
    }

    #activites {
        padding: 30px;
    }

    .activites-cards {
        gap: 15px;
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 0;
    }

    .activites-cards a {
        width: 100%;
        height: 100%;
    }

    .activites-cards .card img {
        height: 141px;
        box-sizing: border-box;
    }

    footer nav {
        flex-direction: column;
        padding: 30px;
        gap: 50px;
    }

    nav .nav-group {
        padding: 0;
    }
}