/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin:0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

h1 {
    margin: 0;
    font-size: 16px;
    height: 79px;
}

.content-subtitle {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

input, button {
    border: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

p {
    margin: 8px 0 8px 1px;
}

section {
    margin-bottom: 35px;
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
.fa-star {
    margin-bottom: 5px;;
}
/********* navbar ********/
.logo {
    height: 19px;
    padding: 1.813em 0 1.813em 0;
}
.navbar-items {
    display: flex;
    flex-direction: row;
    gap: 68px;
    margin: 0;
}

.navbar-items li {
    padding: 1em 0 1em 0;
    border-top: solid transparent 2px;
    box-sizing: border-box;
}

.navbar-items li:hover,
.navbar-items li:active {
    color:var(--main-color);
    border-top: solid var(--main-color) 2px;
    transition: all 0.3s ease-in-out;  
}

/****** Search and filters ********/
.search-and-filter {
    display: flex;
    flex-direction: column;
    gap:35px;
}
.search-header {
    display:flex;
    flex-direction: column;
    margin-bottom: 0px;
}

.search-header p {
    margin-bottom: 0;
}

.search-form {
    display:flex;
}

.fa-location-dot {
    background-color: var(--main-bg-color);
    color: black;
    height: 18px;
    width: 14px;
    border-radius: 15px 0  0 15px; 
    padding: 0.990em 1.125em;
}

.search-text {
    border-top: solid var(--main-bg-color) 1px;
    border-bottom: solid var(--main-bg-color) 1px;
    border-left: solid transparent 1px;
    border-right: solid transparent 1px;
    font-weight: 700;
    color: black;
    font-size: 18px;
    padding-left:1.130em;
    transition: all 0.2s ease
}

.search-text:hover {
    border: solid black 1px;
    border-radius: 2px;
}

.search-btn {
    background-color: var(--main-color);
    border-radius: 0 15px 15px 0;
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 0 0.890em;
    cursor: pointer;
}

.search-btn-mobile {
    display: none;
}

.filter-bar {
    display:flex;
    align-items: center;
    height:50px;;
    margin: 0;
    
}

.filter-items {
    display:flex;
    gap: 19px;
}

.filter-btn {
    display:flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 4px 19px;
    border-radius: 25px;
    border: solid var(--main-bg-color) 2px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.filter-btn:hover {
    background-color: var(--filter-bg-color);
}

.filter-name {
    font-size: 17px;
    font-weight: 700;
}

.search-information {
    display: flex;
    align-items: center;   
}

.fa-info {
    border: solid 1px var(--main-bg-color);
    border-radius: 999px;
    padding: 4px 9px;
    margin: 0;
}

.search-information-text {
    margin: 2.5px 0 2.5px 9px;
    height: 24px;
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display:flex;
    box-sizing: border-box;
    gap:40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    
  
}

/****** Hebergements ***********/
#hebergements {
    width: 65%;
}

.hebergements-cards {
    display:flex;
    flex-flow:row wrap;
    padding: 30px 0;
    box-sizing: border-box;
    gap:30px;
}

.hebergements .card {
    display:flex;
    flex-direction: column;
}

.hebergements-cards img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 240px;
    height: 114px;
}

.hebergements-cards .card-content {
    padding:9px 15px 9px 15px;
    display:flex;
    flex-direction: column;
    gap:8px;
}

.hebergements-cards .card-content h3,
.hebergements-cards .card-content p {
    margin: 0;
}

.hebergements-cards .card-content p {
    font-size: 14px;
}

.hebergements-cards .card-rating {
    height: 13px;
}

.hebergements button {
    padding: 0;
}

/****** Populaires ***********/
#populaires {
    width: 32%;
    box-sizing: border-box;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display:flex;
    margin-top: 30px;
    
    box-sizing: border-box;
}

.fa-chart-line {
    width: 16px;
    height: 16px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-sizing: border-box;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
    font-size: 14px;
}

/******* activites*******/

#activites {
    padding:30px;
    width: 100%;
    box-sizing: border-box;
}

.activites-cards {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:30px;
    padding: 30px 0;
}

.activites-cards a {
    width: 23%;
    height: 439px;
}
.activites-cards .card {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;   
}

.activites-cards .card h3 {
    padding: 19px 20px;
    margin: 0;
}

.activites-cards .card img {
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/******* Footer ******/
footer nav {
    display:flex;
    background-color: var(--main-bg-color);
}

nav .nav-group {
   display:flex; 
   flex-direction: column;
   width: 100%;
   padding: 20px;
  
}
.nav-group h3 {
    margin: 0;
}
.nav-group ul {
    padding: 0;
    margin: 0; 
}

.nav-group li {
    padding-top: 15px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}